* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1502877338535-766e1452684a");
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

/* Cards Container */
.cards {
    display: flex;
    gap: 30px;
}

/* Card Base */
.card {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Overlay */
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* Content */
.card-content {
    position: absolute;
    inset: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    margin-bottom: 10px;
}

.card-content p {
    margin-bottom: 25px;
}

/* Buttons */
.card-content button {
    padding: 12px 22px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.customer button {
    background: #007bff;
}

.driver button {
    /* background: #ff6b00; */
     background: #007bff;
}

.customer button:hover {
    background: #0056b3;
}

.driver button:hover {
    /* background: #e65c00; */
     background: #0056b3;
}

/* Background Images */
.customer {
    background-image: url("https://images.unsplash.com/photo-1506794778202-cad84cf45f1d");
}



.driver {
    background-image: url("https://images.unsplash.com/photo-1603386329225-868f9b1ee6c9");
}

